.pointer:hover{
    cursor:pointer;
  }
  .table-stripped2 tr:nth-child(even){
    background-color:#f2f2f2 !important;
  }
  .table-stripped2 td:not(:last-child){
    border-right:3px solid white !important;
  }
  .table-stripped2 th:not(:last-child){
    border-right:3px solid white !important;
  }
  .max-width{
    width:100% !important;
  }
  .form-check .form-check-input{
    display:inline-block !important;
    margin-top:0.25vw !important;
  }
  .w3-row-padding img{
    margin-bottom:12px !important;
  }
  body, h1, h2, h3, h4, h5, h6{
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .rounded-3{
    border-radius:0.3rem !important;
  }
  #iti4j{
    overflow-x:auto !important;
    background-color: rgba(250, 250, 250, 0.5);
  }
  .d-flex.flex-sm-column.flex-row.flex-grow-1.align-items-center.align-items-sm-start.pt-2.text-white.classRule-iiqz{
    background-color:#ffffff !important;
    /* box-shadow:7px 2px 9px 0px rgba(0,0,0,0.47)  !important; */
    min-height:100vh !important;
  }
  .ms-1.d-none.d-sm-inline.classRule-iwhal{
    color:#5f616e !important;
  }
  .fs-5.bi-house.classRule-i7pmz{
    color:#5f616e !important;
  }
  .ms-1.d-none.d-sm-inline.classRule-ie52v{
    color:#5f616e !important;
  }
  .fs-5.bi-table.classRule-ias88{
    color:#5f616e !important;
  }
  .pointer.nav-link.px-4.classRule-i5t9j{
    color:#ffffff !important;
    background-color:#f1b604 !important;
    box-shadow:2px 7px 9px 0px rgba(0,0,0,0.5)  !important;
  }
  .fs-5.bi-people.classRule-ivc1v{
    color:#5f616e !important;
  }
  .ms-1.d-none.d-sm-inline.classRule-i6z2w{
    color:#5f616e !important;
  }
  #iuglv{
    margin-bottom:0px !important;
  }
  .navbar.navbar-expand-lg.navbar-dark.bg-dark.classRule-iiqih{
    background-color:#ffffff !important;
    box-shadow:2px 7px 9px 0px rgba(0,0,0,0.51)  !important;
  }
  #iozex{
    color:black !important;
  }
  .pointer.classRule-iozex{
    max-width:200px !important;
  }
  .fs-5.bi-people.classRule-isjci{
    color:#000000 !important;
  }
  .fs-5.bi-gear.classRule-ihq5x{
    color:#000000 !important;
  }
  .fs-5.bi-gear.classRule-iygxr{
    color:#5f616e !important;
  }
  .ms-1.d-none.d-sm-inline.classRule-i29sk{
    color:#5f616e !important;
  }
  .ms-1.d-none.d-sm-inline.classRule-iasnj{
    color:#5f616e !important;
  }
  .pointer.nav-link.px-4.classRule-ircth{
    width:100% !important;
  }
  .fs-5.classRule-i3e4h.bi-box-arrow-right{
    color:#5f616e !important;
  }
  .fs-5.classRule-ihq5x.bi-person-fill{
    color:#107fb2 !important;
    padding:3px 5px 3px 5px !important;
    border-radius:50px !important;
    border:2px solid #107fb2 !important;
  }
  .p-2.mw-100.classRule-iuo4f{
    font-size:17px !important;
    font-weight:900 !important;
  }
  .fs-5.bi-person-fill.classRule-ixali{
    color:#000000 !important;
  }
  .fs-5.classRule-ixali.bi-chat-dots-fill{
    color:#107fb2 !important;
    border-radius:50% !important;
    border:2px solid #107fb2 !important;
    padding:3px 5px 3px 5px !important;
  }
  .fs-5.bi-grid.classRule-iwb3m6{
    color:#000000 !important;
  }
  .fs-5.bi-star-fill.classRule-itt4uf{
    color:#000000 !important;
  }
  .fs-5.bi-heart-fill.classRule-il4xmx{
    color:#000000 !important;
  }
  .fs-5.bi-plus.classRule-inolta{
    color:#000000 !important;
  }
  .row.vh-100.overflow-auto.classRule-ider{
    height:auto !important;
  }
  .row.g-0.classRule-ic9vb{
    border-radius:18px !important;
  }
  .card.my-4.shadow-lg.classRule-iusuj{
    border-radius:18px !important;
    box-shadow:2px 7px 9px 0px rgba(0,0,0,0.51)  !important;
  }
  .img-fluid.rounded-3.h-100.classRule-ikj0j{
    border-radius:18px !important;
  }
  .btn.btn-success.btn-lg.ms-2.classRule-iy0oer{
    background-color:#f1b604 !important;
    border:0px solid black !important;
  }
  .form-select.classRule-ii4rs{
    padding:10px 0px 10px 10px !important;
  }
  .form-select.classRule-icdfy{
    padding:10px 0px 10px 10px !important;
  }
  .card-body.p-md-5.text-black.classRule-i4exh{
    height:100% !important;
    display:flex !important;
    flex-direction:column !important;
    justify-content:space-between !important;
  }
  .btn.btn-success.btn-lg.ms-2.classRule-iy0oer.pointer{
    background-color:#ce455e !important;
  }
  .btn.btn-success.btn-lg.ms-2.pointer.classRule-i0uc5k{
    background-color:#f1b604 !important;
    border:0px solid black !important;
  }
  .d-flex.justify-content-end.pt-3.classRule-io7t3x{
    justify-content:space-around !important;
  }
  @media (max-width: 480px){
    .d-flex.flex-sm-column.flex-row.flex-grow-1.align-items-center.align-items-sm-start.pt-2.text-white.classRule-iiqz{
      overflow-x:scroll !important;
      min-height:0vh !important;
    }
    .navbar.navbar-expand-lg.navbar-dark.bg-dark.classRule-iiqih{
      display:none !important;
    }
    .d-flex.justify-content-end.pt-3.classRule-io7t3x{
      flex-direction:column-reverse !important;
      align-items:center !important;
    }
    .btn.btn-success.btn-lg.ms-2.classRule-iy0oer.pointer{
      margin:10px 0 0 0 !important;
    }
  }
  