.pointer:hover {
    cursor: pointer;
}

.table-stripped2 tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

.table-stripped2 td:not(:last-child) {
    border-right: 3px solid white !important;
}

.table-stripped2 th:not(:last-child) {
    border-right: 3px solid white !important;
}

.manage-btn {
    background-color: #3A85C5 !important;
    color: white !important;
}

.horiz-center-item {
    display: flex !important;
    justify-content: center !important;
}

.table-line-height {
    line-height: 230% !important;
}

.table-border {
    overflow: hidden !important;
    border-radius: 12px !important;
    outline: 2px solid black !important;
}

.max-width {
    width: 100% !important;
}

.space-around-elements {
    display: flex !important;
    justify-content: space-around !important;
}

.table.table-bordered {
    border: 1px solid black !important;
    border-radius: 14px !important;
}

.form-check .form-check-input {
    display: inline-block !important;
    margin-top: 0.25vw !important;
}

.flex {
    display: flex !important;
}

.w3-row-padding img {
    margin-bottom: 12px !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif !important;
}

#irwbh {
    overflow-x: auto !important;
}

#iti4j {
    overflow-x: auto !important;
    background-color: rgba(250, 250, 250, 0.5);
}

.d-flex.flex-sm-column.flex-row.flex-grow-1.align-items-center.align-items-sm-start.pt-2.text-white.classRule-iiqz {
    background-color: #ffffff !important;
    /* box-shadow: 7px 2px 9px 0 rgba(0, 0, 0, 0.5) !important; */
    min-height: 100vh !important;
}

.ms-1.d-none.d-sm-inline.classRule-ie52v {
    color: #5f616e !important;
}

.fs-5.bi-table.classRule-ias88 {
    color: #5f616e !important;
}

.fs-5.bi-grid.classRule-in8bj {
    color: #5f616e !important;
}

.pointer.nav-link.px-4.classRule-i5t9j {
    color: #000000 !important;
}

.fs-5.bi-people.classRule-ivc1v {
    color: #5f616e !important;
}

.ms-1.d-none.d-sm-inline.classRule-i6z2w {
    color: #5f616e !important;
}

#iuglv {
    margin-bottom: 0px !important;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark.classRule-iiqih {
    background-color: #ffffff !important;
    box-shadow: 2px 7px 9px 0px rgba(0, 0, 0, 0.51) !important;
}

#iozex {
    color: black !important;
}

.pointer.classRule-iozex {
    max-width: 200px !important;
}

.fs-5.bi-people.classRule-isjci {
    color: #000000 !important;
}

.fs-5.bi-gear.classRule-ihq5x {
    color: #000000 !important;
}

.fs-5.bi-gear.classRule-iygxr {
    color: #5f616e !important;
}

.ms-1.d-none.d-sm-inline.classRule-i29sk {
    color: #5f616e !important;
}

.ms-1.d-none.d-sm-inline.classRule-iasnj {
    color: #5f616e !important;
}

.pointer.nav-link.px-4.classRule-ircth {
    width: 100% !important;
}

.fs-5.classRule-i3e4h.bi-box-arrow-right {
    color: #5f616e !important;
}

.fs-5.classRule-ihq5x.bi-person-fill {
    color: #107fb2 !important;
    padding: 3px 5px 3px 5px !important;
    border-radius: 50px !important;
    border: 2px solid #107fb2 !important;
}

.p-2.mw-100.classRule-iuo4f {
    font-size: 17px !important;
    font-weight: 900 !important;
}

.fs-5.bi-person-fill.classRule-ixali {
    color: #000000 !important;
}

.fs-5.classRule-ixali.bi-chat-dots-fill {
    color: #107fb2 !important;
    border-radius: 50% !important;
    border: 2px solid #107fb2 !important;
    padding: 3px 5px 3px 5px !important;
}

.classRule-i0xhz {
    font-size: 25px !important;
}

.classRule-iz189 {
    font-size: 25px !important;
}

.btn.pointer.bi.bi-pencil-square.manage-btn.classRule-i8jab {
    background-color: rgba(58, 133, 197, 0) !important;
    color: #5f616e !important;
}

.classRule-itkpr {
    background-color: #5f616e !important;
}

.classRule-ic2sz {
    background-color: #5f616e !important;
}

.classRule-iqpyz {
    background-color: #5f616e !important;
}

.classRule-ilk7b {
    background-color: #5f616e !important;
    display: none !important;
}

.table-responsive.classRule-ixoyu {
    padding: 10px 10px 10px 10px !important;
}

.table.table-stripped2.table-border.classRule-ioyvl {
    border: 0px solid black !important;
    box-shadow: 2px 7px 9px 0 rgba(0, 0, 0, 0.5) !important;
}

.text-green {
    color: #294f5d !important;
}

.patientcard-text {
    margin-left: -80px !important;
    border-radius: 57px !important;
    background-color: rgba(217, 217, 217, 0.5) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.col.d-flex.flex-row.patientcard-text.text-center.classRule-itavjw {
    border-radius: 25px !important;
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.54) !important;
    background-color: #ffffff !important;
    margin: 0 0 0 0px !important;
    padding: 0px 0 0 0 !important;
}

.rounded-circle.d-none.d-sm-block.shadow-lg.classRule-ijuaz5 {
    height: 100% !important;
    width: 200px !important;
    border-radius: 25px !important;
}

.classRule-iwf2av {
    margin: 2px 0px 2px 0px !important;
    color: #000000 !important;
}

.card-title.classRule-irpxlj {
    text-align: left !important;
    color: #000000 !important;
    font-weight: 700 !important;
}

.card-text.text-green.classRule-iyvosy {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.classRule-ineozs {
    margin: 2px 0px 2px 0px !important;
}

.wabli-box {
    min-height: 50px;
    width: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.p-2.mw-100.classRule-ia9xx2 {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.p-2.mw-100.classRule-io1rua {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.classRule-isvu0a {
    margin: 2px 0px 2px 0px !important;
}

.p-2.mw-100.classRule-iqx8k9 {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.card-text.text-green.classRule-i0j279 {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.fs-5.bi-grid.classRule-iwb3m6 {
    color: #000000 !important;
}

.form-group.flex.wabli-box.classRule-ij4jvk {
    padding: 0px 0px 0px 0px !important;
}

.fs-5.classRule-iwb3m6.bi-star-fill {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-itbunw {
    color: #5f616e !important;
}

.fs-5.bi-star-fill.classRule-ilh26q {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-istei4 {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-i3dgkg {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-itt4uf {
    color: #000000 !important;
}

.form-group.flex.wabli-box.classRule-i96x8z {
    padding: 0px 0px 0px 0px !important;
    justify-content: flex-end !important;
    min-height: 0px !important;
}

.fs-5.classRule-itt4uf.bi-heart-fill {
    color: #f1b604 !important;
}

.rounded-circle.d-none.d-sm-block.shadow-lg.classRule-it0wno {
    height: 100% !important;
    width: 200px !important;
    border-radius: 25px !important;
}

.card-title.classRule-ixn22h {
    text-align: left !important;
    color: #000000 !important;
    font-weight: 700 !important;
}

.classRule-ismnfl {
    margin: 2px 0px 2px 0px !important;
    color: #000000 !important;
}

.p-2.mw-100.classRule-ioe60w {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.card-text.text-green.classRule-iyk6wf {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.classRule-iyd5k4 {
    margin: 2px 0px 2px 0px !important;
}

.p-2.mw-100.classRule-ig7w1s {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.card-text.text-green.classRule-ixbw61 {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.classRule-icmjgw {
    margin: 2px 0px 2px 0px !important;
}

.p-2.mw-100.classRule-ii3pad {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.fs-5.bi-star-fill.classRule-if9sf4 {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-i3htv6 {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-ix8e9h {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-ip8shk {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-io2o04 {
    color: #5f616e !important;
}

.form-group.flex.wabli-box.classRule-ifg1wj {
    padding: 0px 0px 0px 0px !important;
}

.fs-5.bi-heart-fill.classRule-it4v8l {
    color: #f1b604 !important;
}

.form-group.flex.wabli-box.classRule-ifofzz {
    padding: 0px 0px 0px 0px !important;
    justify-content: flex-end !important;
    min-height: 0px !important;
}

.col.d-flex.flex-row.patientcard-text.text-center.classRule-izobmz {
    border-radius: 25px !important;
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.54) !important;
    background-color: #ffffff !important;
    margin: 0 0 0 0px !important;
    padding: 0px 0 0 0 !important;
}

.rounded-circle.d-none.d-sm-block.shadow-lg.classRule-irpomn {
    height: 100% !important;
    width: 200px !important;
    border-radius: 25px !important;
}

.card-title.classRule-iw1pbl {
    text-align: left !important;
    color: #000000 !important;
    font-weight: 700 !important;
}

.classRule-i54zum {
    margin: 2px 0px 2px 0px !important;
    color: #000000 !important;
}

.p-2.mw-100.classRule-i85oin {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.card-text.text-green.classRule-i1w1el {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.classRule-i52dgk {
    margin: 2px 0px 2px 0px !important;
}

.p-2.mw-100.classRule-i23vxh {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.card-text.text-green.classRule-i8qcvk {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.classRule-iklv88 {
    margin: 2px 0px 2px 0px !important;
}

.p-2.mw-100.classRule-iphj7p {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.fs-5.bi-star-fill.classRule-iyq58e {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-iv60fr {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-izcfo9 {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-i4oa0g {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-iczea3 {
    color: #5f616e !important;
}

.form-group.flex.wabli-box.classRule-ipmevj {
    padding: 0px 0px 0px 0px !important;
}

.fs-5.bi-heart-fill.classRule-i02mju {
    color: #f1b604 !important;
}

.form-group.flex.wabli-box.classRule-iyr9xo {
    padding: 0px 0px 0px 0px !important;
    justify-content: flex-end !important;
    min-height: 0px !important;
}

.col.d-flex.flex-row.patientcard-text.text-center.classRule-itm34w {
    border-radius: 25px !important;
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.54) !important;
    background-color: #ffffff !important;
    margin: 0 0 0 0px !important;
    padding: 0px 0 0 0 !important;
}

.ms-1.d-none.d-sm-inline.classRule-iqqfk {
    color: #5f616e !important;
}

.pointer.nav-link.px-4.classRule-i172z {
    background-color: #f1b604 !important;
    color: #ffffff !important;
    box-shadow: 2px 7px 9px 0 rgba(0, 0, 0, 0.5) !important;
}

.row.vh-100.overflow-auto.classRule-ider {
    height: auto !important;
}

.space-around-elements.classRule-ihdsq {
    display: none !important;
}

.rounded-circle.d-none.d-sm-block.shadow-lg.classRule-i29hgd {
    height: 100% !important;
    width: 200px !important;
    border-radius: 25px !important;
}

.card-title.pointer.classRule-idn97n {
    text-align: left !important;
    color: #000000 !important;
    font-weight: 700 !important;
}

.classRule-iff4e4 {
    margin: 2px 0px 2px 0px !important;
    color: #000000 !important;
}

.p-2.mw-100.classRule-iwh8dl {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.card-text.text-green.classRule-i6z3w8 {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.classRule-i5bk81 {
    margin: 2px 0px 2px 0px !important;
}

.p-2.mw-100.classRule-icb0t6 {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.card-text.text-green.classRule-ixlcbd {
    font-weight: 700 !important;
    color: #000000 !important;
    text-align: left !important;
}

.classRule-itzop5 {
    margin: 2px 0px 2px 0px !important;
}

.p-2.mw-100.classRule-iiueij {
    padding: 0px 0 0 0 !important;
    text-align: left !important;
}

.fs-5.bi-star-fill.classRule-isalpp {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-idvplo {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-i1a102 {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-iuoy75 {
    color: #f1b604 !important;
}

.fs-5.bi-star-fill.classRule-ibocrk {
    color: #5f616e !important;
}

.form-group.flex.wabli-box.classRule-iufuoc {
    padding: 0px 0px 0px 0px !important;
}

.fs-5.bi-heart-fill.classRule-itg86g {
    color: #f1b604 !important;
}

.form-group.flex.wabli-box.classRule-iluzzg {
    padding: 0px 0px 0px 0px !important;
    justify-content: flex-end !important;
    min-height: 0px !important;
}

.col.d-flex.flex-row.patientcard-text.text-center.classRule-i3zdan {
    border-radius: 25px !important;
    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.54) !important;
    background-color: #ffffff !important;
    margin: 0 0 0 0px !important;
    padding: 0px 0 0 0 !important;
}
.pagination.classRule-i769pg{
  display:flex !important;
  justify-content:center !important;
}
.page-item.active {
    .page-link{
        background-color: #f1b604 !important;
        border-color: #f1b604 !important;
    }
}

@media (max-width: 480px) {
    .d-flex.flex-sm-column.flex-row.flex-grow-1.align-items-center.align-items-sm-start.pt-2.text-white.classRule-iiqz {
        overflow-x: scroll !important;
        min-height: 0vh !important;
    }

    .navbar.navbar-expand-lg.navbar-dark.bg-dark.classRule-iiqih {
        display: none !important;
    }

    .row.col-12.g-3.justify-content-center.align-items-center.classRule-ivcw6h {
        width: 100% !important;
        padding: 0px 0 0 0 !important;
    }

    .container.mb-3.classRule-ios5wg {
        padding: 0px 0 0 0 !important;
    }
}